@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  transition-duration: .3s;
}


body {  
  background-color: #fff; 
  position: relative; 
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1; 
}
body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}
 
a, a:hover {
  text-decoration: none !important; }

  /*--Header--*/
.header_area {
  position: absolute;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear; 
}
.header_area .navbar {
  background: transparent;
  margin-top: 20px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #eee; 
}

.header_area .navbar .nav .nav-item {
  margin-right: 45px; 
}
.header_area .navbar .nav .nav-item .nav-link {        
  font: 600 16px/80px "Rubik", sans-serif;
  text-transform: capitalize;        
  padding: 0px;
  display: inline-block; 
}
  @media (max-width: 991px) {
    .header_area .navbar .nav .nav-item .nav-link {
      color: #ffffff; } }

.header_area .navbar .nav .nav-item .nav-link:after {
  display: none; }
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
  color: #0880bb; }
.header_area .navbar .nav .nav-item.submenu {
  position: relative; }
.header_area .navbar .nav .nav-item.submenu ul {          
  border:none;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  background: rgb(232, 225, 225); }
    
  @media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
      position: absolute;
      top: 120%;
      left: 0px;
      min-width: 200px;
      text-align: left;
      opacity: 0;
      transition: all 300ms ease-in;
      visibility: hidden;
      display: block;
      border: none;
      padding: 0px;
      border-radius: 0px; } }
.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  transition: all 400ms linear; }
.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  transition: all 0.4s linear; }
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #002347;
  padding: 0px 30px;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px; }
.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none; }
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background: #c7c6c2;
  color: #fff; }

  @media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
      visibility: visible;
      opacity: 1;
      top: 100%; } }

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px; }
.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
  margin-top: 28px; }
.header_area .navbar .search {
  font-size: 12px;
  line-height: 60px;
  display: inline-block;
  color: #002347; }
.header_area .navbar .search i {
  font-weight: 600; }  
.header_area.white-header .navbar .nav .nav-item .nav-link {
  color: #ffffff; }
.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -ms-transform: translateY(70px);
  -o-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 70px; }  
 
  
  @media (max-width: 991px) {
  /* Main Menu Area css */
    .navbar-toggler {
      border: none;
      border-radius: 0px;
      padding: 0px;
      cursor: pointer;
      margin-top: 27px;
      margin-bottom: 23px; }
    .header_area .navbar{
      margin-top: 0;}
    .header_area {
      position: absolute; }
    .header_area .navbar {
      background: #868686; }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
      opacity: 1; }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
      opacity: 0; }
    .navbar-toggler[aria-expanded="true"] span:first-child {
      transform: rotate(-45deg);
      position: relative;
      top: 7.5px; }
    .navbar-toggler[aria-expanded="true"] span:last-child {
      transform: rotate(45deg);
      bottom: 6px;
      position: relative; }
    .navbar-toggler span {
      display: block;
      width: 25px;
      height: 3px;
      background: #fdc632;
      margin: auto;
      margin-bottom: 4px;
      transition: all 400ms linear;
      cursor: pointer; }
    .navbar .container {
      padding-left: 15px;
      padding-right: 15px; }
    .nav {
      padding: 0px 0px; }
    .header_area + section,
    .header_area + row,
    .header_area + div {
      margin-top: 117px; }
    .header_top .nav {
      padding: 0px; }
    .header_area .navbar .nav .nav-item .nav-link {
      line-height: 40px;
      margin-right: 0px;
      display: block;
      border-bottom: 1px solid #ededed33;
      border-radius: 0px; }
    .header_area .navbar .search {
      margin-left: 0px; }
    .header_area .navbar-collapse {
      max-height: 340px; }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
      padding: 0px 15px; }
    .header_area .navbar .nav .nav-item {
      margin-right: 0px; }
    .header_area + section,
    .header_area + row,
    .header_area + div {
      margin-top: 0px;
      padding-top: 71px; }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 40px; }
    }

/* Banner */
.home_banner_area {
  z-index: 1;
  min-height: 500px;
  position: relative;
  background: no-repeat center;
  background-size: cover; 
}
.home_banner_area .banner_inner {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  width: 100%; 
}

  @media (max-width: 991px) {
    .home_banner_area .banner_inner {
      top: 50%; } }

.home_banner_area .banner_inner .banner_content h2 {
  font-size: 1.5em;
  font-weight: 500; }
.home_banner_area .banner_inner .banner_content p {
  font-size: 20px;
  color: #002347;
  font-weight: 500; }
.banner_area {
  position: relative;
  background: no-repeat center center;
  z-index: 1;
  min-height: 392px;
  padding-top: 0 !important; }
.banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 392px;
  z-index: 1; }
.banner_area .banner_inner .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 35, 71, 0.8); }
.banner_area .banner_inner .banner_content {
  position: relative;
  z-index: 2;
  color: #fff; }      
.banner_area .banner_inner .banner_content .page_link {
  display: inline-block;
  padding: 7px 20px; }
.banner_area .banner_inner .banner_content .page_link a {
  font-size: 15px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
  position: relative;
  text-transform: capitalize; }
.banner_area .banner_inner .banner_content .page_link a:before {
  content: "/";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%); }
.banner_area .banner_inner .banner_content .page_link a:last-child {
  margin-right: 0px; }
.banner_area .banner_inner .banner_content .page_link a:last-child:before {
  display: none; }

/* audio player */
#play-pause-button{
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 45%;  
  left:38%;  
  color: #0470cf;
  transform: rotate(-30deg);   
}

  @media (max-width: 991px) {
    #play-pause-button{
      font-size: 50px;
      cursor: pointer;
      position: absolute;
      top: 40%;  
      left:25%;
      color: #0470cf;
      transform: rotate(-30deg) }

}

/* Form Banner */
.InputStyle {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 220px;
  background: #eee;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: inherit;
}
input, input:focus{ 
  outline:0; 
  -webkit-appearance:none;
  box-shadow: nones;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;              
} 
      
/* Login */
.login-container {
  position: absolute;
  margin-top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
      
.login-container:before {
  content:"";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  display: inline-block;
  height: 50%;
  width: 98%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  border-radius: 10px;
}     
.login-container .login-box {
  padding: 20px 50px;
  background: #fff;
  border-radius: 10px;
  width: 400px;
  box-shadow: 2px 4px 4px #dcdcdc, -2px 4px 4px #dcdcdc;
}    
.login-container .login-box .header {
  height: 50px;
  line-height: 50px;
  position: relative;
  color: #1f6b98;
  margin-bottom: 30px;
}     
.login-container .login-box .header:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 8px;
  background: #1f6b98;
}
.login-container .login-box .content {
  padding: 10px;
}
.login-container .login-box .content .input-box {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}
.login-container .login-box .content .input-box input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  font-size: 0.9em;
  outline: none;
  background: transparent;
}
.login-container .login-box .content .input-box input:focus + span:first-of-type, .login-container .login-box .content .input-box input:not(:placeholder-shown) + span:first-of-type {
  font-size: .8em;
  top: -10px;
  color: #ccc;
}
.login-container .login-box .content .input-box input:focus ~ span:last-of-type, .login-container .login-box .content .input-box input:not(:placeholder-shown) ~ span:last-of-type {
  width: 100%;
}
.login-container .login-box .content .input-box span:first-of-type {
  color: #ccc;
  position: absolute;
  top: 10px;
  left: 0;
  text-align-last: left;
  pointer-events: none;
  transition: all .1s linear;
}
.login-container .login-box .content .input-box span:last-of-type {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0px;
  background: #1f6b98;
  transition: all .2s linear;
}
.login-container .login-box .content .input-box .btn {
  width: 60%;
  background: transparent;
  border: 1px solid #ccc;
  padding: 10px;
  color: #ccc;
  cursor: pointer;
}    
.login-container .login-box .content .input-box .btn:hover{
  border: 1px solid #ffffff;
  background:#1f6b98 ;
  color: #ffffff; 
  transition: 1s;
}
.login-container .login-box .content .input-box a {
  display: inline-block;
  text-decoration: none;
  color: #ccc;
  font-size: 1em;
}
.login-container .login-box .content .input-box a:hover {
  display: inline-block;
  text-decoration: none;
  color: #1f6b98;
  font-size: 1em;
}


/* switch dark light */

/* Dark Light */
.dark-mode {
  background-color: rgb(51, 45, 45);
  color: white;
}
.dark-mode a { 
  color: white;
}
.dark-mode li a { 
  color: white; 
}
.toggle {
  position: relative;
  display: block;
  width: 38px;
  height: 18px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  text-align: right;
  position: relative;
  top: 3px;
  left: 3px;
  width: 38px;
  height: 18px;
  font-size: 10px;
  display: block;
  background: #e6e6e6;
  border-radius: 30px;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
  padding: 2px 8px;
}
.toggle span {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
.toggle span:before {
  font-family: 'Fontawesome';  
  position: absolute;
  display: block;
  margin: 0;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  pointer-events: none;
  color: #fff;
}      
#cbx:checked + .toggle:before,
#cbx2:checked + .toggle:before {
  background: #f6d379;
  content: '';
  text-align: left;
  color: #fff;
}
#cbx:checked + .toggle span,
#cbx2:checked + .toggle span {
  background: #f1bc31;
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
  -webkit-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  -o-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  -webkit-box-shadow: 0 3px 8px rgba(241, 188, 49, 0.7);
  box-shadow: 0 3px 8px rgba(241, 188, 49, 0.7);
}
#cbx:checked + .toggle span:before,
#cbx2:checked + .toggle span:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  font-family: 'Fontawesome';         
  background: #f1bc31;
  color: #000; 
}


.text-box{
  width: 100%;  
  position: absolute;
  margin-top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 2.5rem;
  font-family: "Quicksand";
  font-weight: bold; 
}
.text-box h2{
  font-size: 1rem;     
    font-weight: 400;
    margin: 0 auto; 
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}


/* Side kiri index.html */
.social-icons {
  color:#313437; 
  padding:0px;
}
  @media (max-width:767px) {
  .social-icons {
    padding:10px 0;
   }
  }
.social-icons i {
  font-size:22px;
  display:inline-block;
  margin:0 5px;
  width:32px;
  height:32px;
  border:1px solid #c8ced7;
  text-align:center;
  border-radius:50%;
  line-height:32px;
}


/* Index.html konten   */
.cards {
  position: relative;
  box-shadow: 0 4px 8px 0 #eee, 0 6px 20px 0 #eee;
  padding: 1.5rem!important;          
  border-radius: 10px;
  word-break: break-word;
  margin: 0 10px;
  -webkit-box-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;       
}
.cards .title {
  margin-bottom: 10px; 
  font-size: 1.5em;         
}
.cards .subject {
  text-align: justify; 
  font-size: 1em;       
}
.subject img {
  max-width: 100%;
  margin: 20px auto;
  height: auto;
  display: block;
}
.subject .cards-a{
  color: #67a0dd;          
}
.sidebar-title {
  margin-bottom: 15px;
  font-size: 1rem;
}
.c-group {
  margin-bottom: 50px;
  margin-left: 0;
} 
  @media (max-width:767px) {
    .s-group{
      margin-bottom: 50px;
      margin-left:0;
    } 
  }


/* footer */

footer {
  color: #ffffff;
}
.footer-area{
  background-color: rgba(14, 92, 120, 0.8);
  padding: 20px;
  overflow: hidden;
}
footer ul{
  list-style: none;
  padding-left: 0;
}
footer ul li a{  
  color: #ffffff;       
  margin-bottom: 5px;
  font-size: 14px;
}
footer h4{            
  font-size: 16px;
  font-weight: 600;
}
.footer-note p{
  text-align: center;          
  margin-bottom: 35px;       
}
.copyright{
  font-size: 12px;          
}
.ct-me li{
  display: inline-block;
  list-style: none;
}
.icons i{         
  margin: 0 5px;
  cursor: pointer;
  padding: 10px 0;
  font-size: 28px;
}
 
/* About.html */
.about{
  margin-bottom:20px;  
}

.title {
  font-size: 21px;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  padding-bottom: 10px;    
}
.title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 20%;
  background: #39b2c7;
}

.team-boxed h3 {
font-weight:bold;
margin-bottom:20px;
padding-top:40px;
color:inherit;
}

@media (max-width:767px) {
.team-boxed h2 {
  margin-bottom:25px;
  padding-top:25px;
  font-size:24px;
}
}

.team-boxed .intro {
font-size:16px;
max-width:500px;
margin:0 auto;
}

.team-boxed .intro p {
margin-bottom:20px;
}

.team-boxed .item {
text-align:center;
}

.team-boxed .item .box {
text-align:center;
padding:30px;
margin-top: 20px;
margin-bottom:30px;
border-radius: 10px;
box-shadow: 0 1px 2px 0 #eee, 0 2px 8px 0 #eee; 
border: 1px solid #fff;     
}

.team-boxed .item .name {
font-weight:bold;
margin-top:28px;
margin-bottom:8px;
color:inherit;
}

.team-boxed .item .title {
text-transform:uppercase;
font-weight:bold;
color:#25b0d7;
letter-spacing:2px;
font-size:13px;
}

.team-boxed .item .description {
font-size:15px;
margin-top:15px;
margin-bottom:20px;
}

.team-boxed .item img {
max-width:160px;
}

.team-boxed .social {
font-size:18px;
color:#25b0d7;
}

.team-boxed .social a {
color:inherit;
margin:0 10px;
display:inline-block;
opacity:0.7;
}

.team-boxed .social a:hover {
opacity:1;
}

table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
border: none;
margin-bottom: 30px;
}

/* Style table headers and table data */
th .item{
  text-align: center;
  padding: 16px;
}

.table th{
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #124373;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #124373;
}    


/* kelas.html */
.mapel{
  margin-bottom: 80px;
}

.hero.center {
  display: block;
  text-align: center;
}
.columns {
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -webkit-flex;  
}
.columns .column {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  flex-direction: column;
}
.cards .title.is-light {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
}
  @media screen and (max-width: 900px){
    .columns {
       display: block;
  }
}

.tags {
  border-radius: 5px;
  text-align: center;
  padding: 2px 5px;
  font-size: .8rem;
  color: #fff;
  display: inline-block;
}
.medium {
  font-size: .95rem;
  text-align: center;
}

.btn-moreclass { 
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 6px 8px;   
  border: 1px solid rgb(168, 168, 168);
  border-radius: 10px; 
  text-decoration: none!important;    
}


/* django kelas */
@media (max-width:767px) {
  .main_image{
    margin-top: -10%;
  }  
}

.title-cls{
 margin-top: 50px;
 margin-bottom: 50px; 
}

.title-mv{
  font-size: 21px;
  border: none;
  cursor: pointer;
  margin-top: 80px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  padding-bottom: 10px;    
}
.title-mv:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 10%;
  background: #39b2c7;
}














